:root {
  --color1: #f8ede3;
  --color2: #dfd3c3;
  --color3: #d0b8a8;
  --color4: #85586f;
  --font-family-p: "Mukta", sans-serif;
  --font-family-h1: "Bebas neue", serif;
  --font-family-h2-h3: "Oswald", serif;
}

html {
  font-size: 62.5%; /*62,5% x 16px = 10px */
  font-family: "Mukta", sans-serif;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
p,
li,
figure {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.6rem;
  font-family: var(--font-family-h1);
}

h2 {
  font-size: 2.2rem;
  font-family: var(--font-family-h2-h3);
}

h3 {
  font-size: 2rem;
  font-family: var(--font-family-h2-h3);
}

p {
  font-size: 1.6rem;
  text-align: justify;
}

li {
  font-size: 2rem;
  font-family: var(--font-family-h2-h3);
  margin-left: 3rem;
}

a {
  color: unset;
  text-decoration: none;
}

ol {
  list-style-type: decimal;
}

ol li {
  font-family: var(--font-family-p);
  margin-top: 2rem;
}

/* HEADER JA NAVIGAATIO  */

header {
  width: 100%;
  background-color: var(--color4);
  color: var(--color1);
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

header h3 {
  font-size: 2rem;
  margin: 2.5rem 1rem;
  /* padding: 1.5rem; */
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  font-size: 2rem;
  margin: 2.5rem 1rem;
  /* padding: 1.5rem; */
}

/* CONTAINER  */

#container {
  background-color: var(--color1);
  padding: 0.5rem 0;
}

/* PORTFOLIOLISTAUS  */

#portfolio-img {
  background-image: url(images/forest.jpg);
  max-width: 100%;
  margin: 5rem 0 0 0;
  padding: 1rem;
}

#my-portfolio {
  padding: 1rem;
  margin: 5rem;
  background-color: var(--color2);
  opacity: 0.9;
}

.ankkuri {
  position: relative;
  top: -75px;
}

/* TIETOJA(menneisyys) */

#menneisyys {
  padding: 1rem;
  /* margin: 1rem 0 2rem 0; */
  background-color: var(--color3);
}

#three-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: var(--color1);
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid var(--color4);
  border-radius: 5%;
  width: 90%;
}

.card img {
  width: 100%;
}

/* TIETOJA (nykyisyys, tulevaisuus) */

.tiedot {
  margin: 2rem;
}

.tiedot img {
  max-width: 30%;
}

.img-flex {
  display: flex;
  flex-direction: column;
}
#nykyisyys img {
  max-width: 100%;
}

#tulevaisuus {
  border-top: #85586f 2px solid;
}

#tulevaisuus img {
  max-width: 100%;
}

#nykyisyys,
#tulevaisuus,
#contact {
  margin: 2rem 0 2rem 0;
}

/* FOOTER  */

footer {
  border-top: #85586f 2px solid;
  margin: 1rem;
}

#contact h2 {
  margin-bottom: 2rem;
}

.lomake {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 10rem;
}
input {
  width: 70%;
  margin: 0.5rem;
}

label {
  font-family: var(--font-family-p);
  font-size: 1.6rem;
}
#laheta {
  display: flex;
  justify-content: right;
}

button {
  background-color: var(--color4);
  color: var(--color1);
  font-family: var(--font-family-p);
  font-size: 1.6rem;
  border: #d0b8a8 1px solid;
  border-radius: 10%;
  padding: 0 1rem;
  margin-top: 1rem;
}

#copyright {
  border-top: #85586f 2px solid;
}

/* MOBIILINÄKYMÄN NAVIGAATIO  */
@media only screen and (max-width: 600px) {
  header h3 {
    font-size: 1.2rem;
  }

  nav ul li {
    font-size: 1.2rem;
  }
}

/* NÄKYMÄ KUN SCREEN MIN 768px */
@media only screen and (min-width: 769px) {
  .container {
    padding: 0.5rem;
  }

  #portfolio-img {
    margin: 7.5rem 1rem 1rem 1rem;
  }

  #menneisyys {
    margin: 1rem 1rem 1rem 1rem;
  }
  #three-cards {
    flex-wrap: nowrap;
    flex: 1;
  }

  .card {
    margin: 1rem;
  }

  .img-flex {
    flex-direction: row;
  }

  #nykyisyys img {
    object-fit: scale-down;
    max-width: 30%;
    max-height: auto;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }

  #tulevaisuus img {
    object-fit: scale-down;
    max-width: 30%;
    max-height: auto;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }
  #nykyisyys {
    border-top: #85586f 2px solid;
  }
}
